.badge {
  background: #f56a6a;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #f5f6f7;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5em;
  margin-right: 5px;
  margin-left: 6px;
  text-align: center;
  width: 1.8em;
}

.pager {
  display: flex;
  justify-content: space-between;
}

.pager li {
  display: inline;
}

.page-header {
  font-size: 1.4em;
}

.months {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Spoiler styles */
.spoiler {
  border: 1px solid #e7e7e7;
  background-color: #f5f6f7;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spoiler-toggle {
  font-weight: bold;
  cursor: default;
  padding: 5px;
  font-size: 11px;
}

.spoiler-text {
  padding: 5px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f6f7;
}

/* Fixes .container padding inside TinyMCE preview window */
body.mce-content-body {
  padding: 10px;
}

.search-summary em {
  background: yellow;
}

small {
  font-size: 0.8em;
}

/* Needed to correctly place social buttons in line */
.facebook,.linked-in,.twitter,.reddit {
  display: inline-block;
  vertical-align: top;
}

.fb-share-button > span {
  vertical-align: inherit !important;
}

.reddit > a > img {
  vertical-align: inherit !important;
  height: 20px;
}

header.title {
  padding-top: 4em;
}

header.title > :last-child {
  margin-bottom: 0;
}
