language: python
python:
  - "3.5"
  - "3.6"
cache: pip
addons:
  apt:
    packages:
     - enchant
services:
  - mysql
env:
  - DB_USER=root
before_install:
  - pip install -q codecov
  - mysql -u root -c "SET GLOBAL default_storage_engine=innodb,innodb_file_format=Barracuda,innodb_file_per_table=ON,innodb_large_prefix=1;"
  - mysql -u root -c "CREATE DATABASE test_romans_blog ROW_FORMAT=DYNAMIC;"
install:
  - pip install -q -r requirements-dev.txt
script: coverage run manage.py test blog pages common_content --keepdb
after_success: codecov
notifications:
  email: false
