branches:
  only:
    - master
    - develop
language: python
python:
  - "3.4"
  - "3.5"
# command to install dependencies
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y enchant
install: pip install -r requirements.txt
# command to run tests
script: python manage.py test blog pages
after_success: python publish_docs.py
