branches:
  only:
    - master
    - develop
language: python
python:
  - "3.4"
  - "3.5"
addons:
  apt:
    packages:
     - enchant
before_install:
  - pip install codecov
  - pip install Sphinx
install: pip install -r requirements.txt
script: coverage run manage.py test blog pages
after_success: codecov
before_deploy: wget https://raw.githubusercontent.com/romanvm/travis_scripts/master/publish_docs.py
deploy:
  provider: script
  skip_cleanup: true
  script: python publish_docs.py
  on:
    python: "3.5"
    branch: master
notifications:
  email: false
