language: python
python:
  - "3.5"
  - "3.6"
cache: pip
addons:
  apt:
    packages:
     - enchant
services:
  - mysql
env:
  - DB_USER=root
before_install:
  - pip install -q codecov
install:
  - pip install -q -r requirements-dev.txt
script: coverage run manage.py test blog pages common_content
after_success: codecov
notifications:
  email: false
