[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_version = "3.5"

[packages]
django-filebrowser-no-grappelli = "==3.7.4"
django-haystack = ">=2.4.1"
pyenchant = "*"
"django-tinymce4-lite" = "*"
"bs4" = "*"
"django-admin-sortable2" = "*"
Django = "==1.11.12"
Pillow = ">=3.0.0"
Whoosh = ">=2.7.0"

[dev-packages]
