bs4
Django==3.2.9
django-admin-sortable2==1.0.2
django-filebrowser-no-grappelli==3.8.0
django-haystack==3.1.1
django-solo==1.2.0
django-tinymce4-lite==1.8.0
jsmin==3.0.0
Pillow==9.0.0
pyenchant==3.2.2
pytz==2021.3
Whoosh==2.7.4
mysqlclient==2.1.0
django-dotenv
