h1,h2 {
  text-transform: uppercase;
}
.text-just {
  text-align: justify;
}
.panel-heading {
  text-transform: uppercase;
  font-weight: bold;
}
.post-list  {
  margin-right: 100px;
  margin-bottom: 40px;
}
.post {
  margin-right: 50px;
  margin-bottom: 40px;
}
.right-panel {
  margin-right: 100px;
}
.page-content {
  margin-bottom: 40px;
}
