.text-just {
  text-align: justify;
}

h1,h2,.panel-title,.panel-footer {
  text-transform: uppercase;
}

.blog-sidebar {
  margin-top: 25px
}

.blog-sidebar-module {
  margin-bottom: 40px;
}

.sidebar-post-title {
  margin-bottom: 5px;
}

.panel-body > :last-child {
  margin-bottom: 0px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.post-body {
  margin-top: 30px;
  margin-bottom: 15px;
}

.page-content {
  margin-top: 15px;
  margin-bottom: 15px;
}

.bottom-box {
  margin-bottom: 15px;
}

.search-results {
  margin-top: 40px;
  margin-bottom: 15px;
}

.pages {
  margin-bottom: 15px;
}

/* Needed to correctly place social bunntons in line */
.facebook,.linked-in,.twitter,.reddit {
  display: inline-block;
  vertical-align: top;
}

.fb-share-button > span {
  vertical-align: inherit !important;
}

.reddit > a > img {
  vertical-align: inherit !important;
  height: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 640px;
  }
  .page_body {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 800px;
  }
  .page_body {
    margin-left: 75px;
    margin-right: 75px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}

/* Fixes syntaxhihgligter code placement with Bootstrap styles in Firefox */
.syntaxhighlighter table td.code .container:before {
    content: "";
    display: inherit !important;
}
