/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #033c73;
  border-color: #022f5a;
  border: 1px solid transparent;
}

.footer .footer-text {
   color: #999999;
   font-size: 10px;
}

.footer .footer-text > a {
  color: #999999;
  text-decoration: underline;

}

.footer .footer-text > a:hover,
.footer .footer-text > a:focus {
  color: #ffffff;
  background-color: transparent;
}

/* Media queries for responsive behaviour */
@media (min-width: 100px) {
  body {
    margin-bottom: 170px;
  }
  .footer {
    height: 170px;
  }
}

@media (min-width: 325px) {
  body {
    margin-bottom: 130px;
  }
  .footer {
    height: 130px;
  }
}

@media (min-width: 750px) {
  body {
    margin-bottom: 60px;
  }
  .footer {
    height: 60px;
    border-radius: 4px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 0;
}
.footer > .container > .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-top: 5px;
}

.social-profiles {
  padding-top: 10px;
}

.django-logo {
  padding-top: 13px;
}

/*
code {
  font-size: 80%;
}
*/
