{% load i18n %}
{% load static from staticfiles %}
{% load blog_tags %}
{% comment %}
  {% load pages_tags %}
{% endcomment %}
{% get_current_language as LANGUAGE_CODE %}
{% comment %}
  {% get_menu_links as menu_links %}
{% endcomment %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% block title %}
  {% endblock title %}
  {% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock meta %}
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "cerulean_skin/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "cerulean_skin/css/cerulean_skin.css" %}">
  {% endblock css %}
  {% block js %} 
  <script type="text/javascript" src="{% static "cerulean_skin/js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "cerulean_skin/js/bootstrap.min.js" %}"></script>       
  {% endblock js %}
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{% get_site_name %}</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="{% if request.path == "/" %}active{% endif %}"><a href="{% url "blog:blog_home" %}">{% trans "Home" %}</a></li>
          {% comment %}
          {% for link in menu_links %}
          <li class="{% if path == link.path %}active{% endif %}"><a href="{{ link.path }}">{{ link.caption }}</a></li>
          {% endfor %}    
          {% endcomment %}
        </ul>
      </div>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{% trans "Search blog" %}">
        </div>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </nav>
  {% endblock navbar %}
  <div class="container">
    {% block content %}    
    {% endblock content %}
  </div>
</body>
</html>
