{% extends "cerulean_skin/blog_base.html" %}
{% load i18n %}
{% load static %}
{% load blog_tags %}
{% block title %}
  {% if page_title %}
    <title>{{ page_title }} - {% get_site_name %}</title>
  {% else %}
    <title>{% trans "Home" %} - {% get_site_name %}</title>
  {% endif %}
{% endblock title %}
{% block blog_page_body %}
  {% load blog_tags %}
  <div class="post-list">
    {% if page_title %}
      <div class="page-header"><h1>{{ page_title }}</h1></div>
    {% endif %}
    {% for post in posts %}
    <div class="row">        
      <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <p class="text-muted"><small><em>{% trans "Posted on:" %} {{ post.date_published }}</em></small></p>   
      {% if post.cover_image %}
        <p><img class="img-responsive" src="{% get_media_prefix %}{{ post.cover_image }}" alt="{% trans "Cover Image" %}"></p>
      {% endif %}
      <p class="text-just">{{ post.content|striptags|truncatewords:40 }}</p>
      <p>
        <ul class="list-inline">
          <li>
            <a class="btn btn-primary btn-sm" href="{{ post.get_absolute_url }">
              {% trans "Read more" %} <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            <a class="btn btn-primary btn-sm" href="#">{% trans "Comment" %} <span class="glyphicon glyphicon-comment"></span></a>
          </li>
          {% if post.categories %}
            <li><b>{% trans "Categories:" %}</b></li>
            <li>
              <ul class="list-inline">
                {% for category in post.categories.all  %}
                  <li><a href="#">{{category.name}}</a></li>
                {% endfor %}
              </ul>
          </li>
          {% endif %}
        </ul>
      </p>
      <hr>
    </div>      
    {% empty %}
      <h3 class="text-danger">No blog posts found</h3>
    {% endfor %}
    <nav>
      <ul class="pager">
        <li class="previous {% if not page_obj.has_next %}disabled{% endif %}">
          <a href="{{ request.path }}{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">
            <span aria-hidden="true"><span class="glyphicon glyphicon-arrow-left"></span></span> {% trans "Older" %}
          </a>
        </li>
        <li class="next {% if not page_obj.has_previous %}disabled{% endif %}">
          <a href="{{ request.path }}{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
            {% trans "Newer" %} <span aria-hidden="true"><span class="glyphicon glyphicon-arrow-right"></span></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock blog_page_body %}
