{% extends "cerulean_skin/blog_base.html" %}
{% load i18n %}
{% load blog_tags %}
{% load cerulean_skin_tags %}
{% block title %}
  {% if page_title %}
    <title>{{ page_title }} - {% get_site_name %}</title>
  {% else %}
    <title>{% trans "Home" %} - {% get_site_name %}</title>
  {% endif %}
{% endblock title %}
{% block blog_page_body %}
  <div class="post-list">
    {% if page_title %}
    <h1>{{ page_title }}</h1>
    <hr>
    {% endif %}
    {% for post in posts %}
    <div class="post-summary">
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <p>
        <small class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<em>{{ post.date_published }}</em></small>&nbsp;
        {% if user.is_authenticated %}
        <a class="btn btn-default btn-xs" href="/admin/blog/post/{{ post.pk }}/"><span class="fa fa-pencil-square"></span>&nbsp;{% trans "Edit post" %}</a>
        {% endif %}
      </p>
      <div class="text-just">{{ post|truncate_post:40|safe }}</div>
      <p>
        <a class="btn btn-primary btn-sm" href="{{ post.get_absolute_url }}">
          {% trans "Read post" %}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
        </a>&nbsp;
        {% get_disqus_shortname as disqus_shortname %}
        {% if post.allow_comments and disqus_shortname %}
        <a class="btn btn-primary btn-sm" href="{{ post.get_absolute_url }}#disqus_thread">
          {% trans "0 comments" %}
        </a>&nbsp;
        {% endif %}
        {% if post.categories.count %}
        <small><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;
          {{ post|render_post_categories|safe }}
        </small>
        {% endif %}
      </p>
      <hr>
    </div>
    {% empty %}
      <h3 class="text-danger">{% trans "This section has no posts." %}</h3>
    {% endfor %}
    {% if is_paginated %}
    <nav>
      <ul class="pager">
        <li class="previous {% if not page_obj.has_next %}disabled{% endif %}">
          <a href="{{ request.path }}{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">
            <span aria-hidden="true"><span class="glyphicon glyphicon-arrow-left"></span></span> {% trans "Older" %}
          </a>
        </li>
        <li class="next {% if not page_obj.has_previous %}disabled{% endif %}">
          <a href="{{ request.path }}{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
            {% trans "Newer" %} <span aria-hidden="true"><span class="glyphicon glyphicon-arrow-right"></span></span>
          </a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
{% endblock blog_page_body %}
{% block footer %}
  {{ block.super }}
  {% get_disqus_shortname as disqus_shortname %}
  {% if disqus_shortname %}
  <script id="dsq-count-scr" src="//{{ disqus_shortname }}.disqus.com/count.js" async></script>
  {% endif %}
{% endblock footer %}
