{% extends "cerulean_skin/base.html" %}
{% load common_content_tags %}
{% block meta %}
  {{ block.super }}
  {% if menu_link.page.keywords %}
  <meta name="keywords" content="{{ menu_link.page.keywords }}">
  {% endif %}
  {% if menu_link.page.meta_descripiton %}
  <meta name="description" content="{{ menu_link.page.meta_descripiton }}">
  {% endif %}
{% endblock meta %}
{% block title %}
  <title>{{ menu_link.page.title }} - {% get_site_name %}</title>
{% endblock title %}
{% block content %}
  {% if menu_link.show_side_panel %}
  <div class="col-sm-9">
  {% else %}
  <div class="col-sm-12">
  <div class="page_body">
  {% endif %}
    <h1>{{ menu_link.page.title }}</h1>
    <hr>
    <div class="page-content">
      {{ menu_link.page.content|safe }}
    </div>
  </div>
  {% if menu_link.show_side_panel %}
  <div class="col-sm-3 blog-sidebar">
  {% include "cerulean_skin/blog_side_panel.html" %}
  {% endif %}
  </div>
{% endblock content %}


