{% extends "cerulean_skin/base.html" %}
{% load blog_tags %}
{% if page.keywords %}
  {% block meta %}
  {{ block.super }}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endblock meta %}
{% endif %}
{% block title %}
  <title>{{ menu_link.page.title }} - {% get_site_name %}</title>
{% endblock title %}
{% block content %}
  {% if menu_link.show_side_panel %}
  <div class="col-sm-9">
  {% else %}
  <div class="col-sm-12">
  <div class="page_body">
  {% endif %}
    <h1>{{ menu_link.page.title }}</h1>
    <hr>
    <div class="page-content">
      {{ menu_link.page.content|safe }}
    </div>
  </div>
  {% if menu_link.show_side_panel %}
  <div class="col-sm-3 blog-sidebar">
  {% include "cerulean_skin/blog_side_panel.html" %}
  {% endif %}
  </div>
{% endblock content %}
