{% extends "editorial_skin/base.html" %}
{% load i18n %}
{% load common_content_tags %}
{% load blog_tags %}
{% load editorial_tags %}
{% block title %}
  {% if page_title %}
    <title>{{ page_title }} - {% get_site_name %}</title>
  {% else %}
    <title>{% trans "Home" %} - {% get_site_name %}</title>
  {% endif %}
{% endblock title %}
{% block content %}
  {% if page_title %}
  <header class="major title"><h1>{{ page_title }}</h1></header>
  {% endif %}
  {% for post in posts %}
  <section>
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    <p><small>
      <span class="fa fa-calendar"></span>&nbsp;{{ post.date_published }}
      &nbsp;&nbsp;
      {% get_disqus_shortname as disqus_shortname %}
      {% if post.allow_comments and disqus_shortname %}
      <span class="fa fa-comment"></span>&nbsp;
      <a href="{{ post.get_absolute_url }}#disqus_thread">{% trans "0 comments" %}</a>&nbsp;
      {% endif %}
      </small>
      {% if user.is_authenticated %}
      &nbsp;&nbsp;
      <a class="button small" href="/admin/blog/post/{{ post.pk }}"><span class="fa fa-pencil-square"></span>&nbsp;{% trans "Edit post" %}</a>
      {% endif %}
    </p>
    <div class="post-cut">{{ post|truncate_post }}</div>
    {% if post.categories.exists %}
    <p><small><span class="fa fa-tags"></span>&nbsp;&nbsp;{{ post|render_post_categories }}</small></p>
    {% endif %}
  </section>
  {% empty %}
  <p class="text-danger">{% trans "This section has no posts." %}</p>
  {% endfor %}
  {% if is_paginated %}
  <section>
  <ul class="pager">
    <li><a class="button {% if not page_obj.has_next %}disabled{% endif %}"
      href="{{ request.path }}{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">
      <span class="fa fa-arrow-left"></span>&nbsp;{% trans "Older" %}</a>
    </li>
    <li><a class="button {% if not page_obj.has_previous %}disabled{% endif %}"
      href="{{ request.path }}{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
      {% trans "Newer" %}&nbsp;<span class="fa fa-arrow-right"></span></a>
    </li>
  </ul>
  </section>
  {% endif %}
{% endblock content %}
{% block js %}
{{ block.super }}
  {% get_disqus_shortname as disqus_shortname %}
  {% if disqus_shortname %}
  <script id="dsq-count-scr" src="//{{ disqus_shortname }}.disqus.com/count.js" async></script>
  {% endif %}
{% endblock js %}
