{% extends "editorial_skin/base.html" %}
{% load i18n %}
{% load common_content_tags %}
{% block title %}
  <title>{{ page_title }} - {% get_site_name %}</title>
{% endblock title %}
{% block content %}
<section>
  <header class="major">
    <h1>{{ page_title }}</h1>
  </header>
  <br>
  {% if categories %}
    <ul>
      {% for category in categories %}
        <li>
          <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>&nbsp;<span class="badge">{{ category.posts.count }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-danger">{% trans "No categories defined!" %}</p>
  {% endif %}
</section>
{% endblock content %}
