{% extends "editorial_skin/base.html" %}
{% load i18n %}
{% load common_tags %}
{% load blog_tags %}
{% block title %}
  <title>{% trans "Site Search" %} - {% get_site_name %}</title>
{% endblock title %}
{% block content %}
  <header class="major title">
    <h1>{% trans "Site Search" %}</h1>
  </header>
<section>
{% if query %}
  {% if object_list %}
    <h2>{% trans "Search results for" %} "<em>{{ query }}</em>"</h2>
    <h3>{% trans "Items found:" %} <strong>{{ paginator.count }}</strong></h3>
      {% for result in object_list %}
        <p>
          <a href="{{ result.object.get_absolute_url }}"><strong>{{ result.object.title }}</strong></a>
          {% if result.object.date_published %}
          <br>
          <span class="text-muted">
            <small><span class="fa fa-calendar"></span>&nbsp;{{ result.object.date_published }}</small>
          </span>
          {% endif %}
        </p>
        <p class="search-summary">{% autoescape off %}{{ result.highlighted.text|join:"... " }}{% endautoescape %}&nbsp;
        (<a href="{{ result.object.get_absolute_url }}"><i>{% trans "Read more..." %}</i></a>)</p>
      {% endfor %}
      </section>
      {% if is_paginated %}
        <section>{% render_paginator 3 %}</section>
      {% endif %}
  {% else %}
    <p class="text-danger"><strong>{% trans "No results found!" %}</strong></p>
    <p>{% trans "Please refine you search criteria and try again." %}</p>
  {% endif %}
{% else %}
  <p><strong>{% trans "Please enter a search query in the field above and click the search button." %}</strong></p>
</section>
{% endif %}
{% endblock content %}
