{% extends "editorial_skin/base.html" %}
{% load i18n %}
{% load common_content_tags %}
{% block title %}
  <title>{{ page_title }} - {% get_site_name %}</title>
{% endblock title %}
{% block content %}
  <header class="major title">
    <h1>{{ page_title }}</h1>
  </header>
  <section>
  {% if months %}
  <div class="row">
    {% regroup months by year as months_list %}
      {% for month in months_list %}
      <div class="3u 6u(small)">
        <h3>{{ month.grouper }}</h3>
        <ul class="months">
          {% for item in month.list %}
          <li><a href="{% url "blog:month_archive" year=item.year month=item.month %}">{{ item|date:"F" }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <p class="text-danger">{% trans "This blog has no posts." %}</p>
  {% endif %}
  </section>
{% endblock content %}
