{% extends "editorial_skin/base.html" %}
{% load common_content_tags %}
{% block meta %}
  {{ block.super }}
  {% if menu_link.page.keywords %}
  <meta name="keywords" content="{{ menu_link.page.keywords }}">
  {% endif %}
  {% if menu_link.page.meta_descripiton %}
  <meta name="description" content="{{ menu_link.page.meta_descripiton }}">
  {% endif %}
{% endblock meta %}
{% block title %}
  <title>{{ menu_link.page.title }} - {% get_site_name %}</title>
{% endblock title %}
{% block content %}
  <header class="major title">
    <h1>{{ menu_link.page.title }}</h1>
  </header>
  <section>
    {{ menu_link.page.content|safe }}
  </section>
{% endblock content %}
