{% load i18n %}
{% load blog_tags %}
{% get_url "blog:home" as home_url %}
{% if user.is_authenticated %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="fa fa-cogs"></span>&nbsp;{% trans "Blog Admin" %}
      </h4>
    </div>
    <div class="panel-body">
      <div><a href="/admin/blog/post/add"><span class="fa fa-pencil-square-o"></span>&nbsp;{% trans "New Post" %}</a></div>
      <div><a href="/admin/blog/post"><span class="fa fa-files-o"></span>&nbsp;{% trans "Manage Posts" %}</a></div>
      <div><a href="/admin"><span class="fa fa-bars"></span>&nbsp;{% trans "Admin Panel" %}</a></div>
      <div><a href="/admin/logout"><span class="fa fa-sign-out"></span>&nbsp;{% trans "Logout" %}</a></div>
    </div>
  </div>
{% endif %}
{% get_posts_digest False as latest_posts %}
{% if latest_posts.objects and request.path != home_url %}
  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="panel-title"><span class="fa fa-newspaper-o"></span>&nbsp;{% trans "Latest Posts" %}</h4></div>
    <div class="panel-body">
      {% for post in latest_posts.objects  %}
      <div><span class="text-uppercase"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span><br>
      <small class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<em>{{ post.date_published }}</em></small></div>
      {% endfor %}
    </div>
    {% if latest_posts.more  %}
    <div class="panel-footer"><a href="{{ latest_posts.more }}"><strong>{% trans "More..." %}</strong></a></div>
    {% endif %}
  </div>
{% endif %}
{% get_posts_digest True as featured_posts %}
{% if featured_posts.objects %}
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{% trans "Featured Posts" %}</h4></div>
  <div class="panel-body">
    {% for post in featured_posts.objects  %}
    <div><span class="text-uppercase"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span><br>
    <small class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;<em>{{ post.date_published }}</em></small></div>
    {% endfor %}
  </div>
  {% if featured_posts.more  %}
  <div class="panel-footer"><a href="{{ featured_posts.more }}"><strong>{% trans "More..." %}</strong></a></div>
  {% endif %}
</div>
{% endif %}
{% get_url "blog:archive" as archive_url %}
{% get_archive_digest as months %}
{% if months and request.path != archive_url %}
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title"><span class="fa fa-archive"></span>&nbsp;{% trans "Archive" %}</h4></div>
  <div class="panel-body">
    {% for month in months.objects %}
    <div><a href="{% url "blog:month_archive" year=month.year month=month.month %}">{{ month|date:"F Y" }}</a></div>
    {% endfor %}
  </div>
  {% if months.more %}
  <div class="panel-footer"><a href="{% url "blog:archive" %}"><strong>{% trans "More..." %}</strong></a></div>
  {% endif %}
</div>
{% endif %}
{% get_categories as categories %}
{% if categories %}
<div class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{% trans "Categories" %}</h4></div>
  <div class="panel-body">
    {% for category in categories  %}
    <div><a href="{{ category.get_absolute_url }}">{{ category.name }}&nbsp;<span class="badge">{{ category.posts.count }}</span></a></div>
    {% endfor %}
  </div>
</div>
{% endif %}
